dev-nifi-bucket/Domain-API.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ ],
        "controllerServices" : [ ],
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "e653df94-0770-3aeb-a824-a13bc1e2a30d",
        "inputPorts" : [ ],
        "labels" : [ ],
        "name" : "Domain-API",
        "outputPorts" : [ ],
        "position" : {
          "x" : 136.0,
          "y" : -296.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "e653df94-0770-3aeb-a824-a13bc1e2a30d",
          "identifier" : "7fe6c382-851f-3b41-9677-9ade6b6034c6",
          "name" : "InvokeHTTP",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 648.0,
            "y" : 16.0
          },
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "Connection Timeout" : "5 secs",
            "send-message-body" : "true",
            "set-form-filename" : "true",
            "Always Output Response" : "false",
            "etag-max-cache-size" : "10MB",
            "idle-timeout" : "5 mins",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "True",
            "Content-Type" : "${mime.type}",
            "max-idle-connections" : "5",
            "Read Timeout" : "15 secs",
            "Max Length To Put In Attribute" : "256",
            "ignore-response-content" : "false",
            "Digest Authentication" : "false",
            "HTTP Method" : "GET",
            "Add Response Headers to Request" : "false",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "Attributes to Send" : {
              "displayName" : "Attributes to Send",
              "identifiesControllerService" : false,
              "name" : "Attributes to Send",
              "sensitive" : false
            },
            "use-etag" : {
              "displayName" : "Use HTTP ETag",
              "identifiesControllerService" : false,
              "name" : "use-etag",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Proxy Type" : {
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "name" : "Proxy Type",
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "displayName" : "Basic Authentication Password",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Password",
              "sensitive" : true
            },
            "Connection Timeout" : {
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "send-message-body" : {
              "displayName" : "Send Message Body",
              "identifiesControllerService" : false,
              "name" : "send-message-body",
              "sensitive" : false
            },
            "set-form-filename" : {
              "displayName" : "Set Flowfile Form Data File Name",
              "identifiesControllerService" : false,
              "name" : "set-form-filename",
              "sensitive" : false
            },
            "Always Output Response" : {
              "displayName" : "Always Output Response",
              "identifiesControllerService" : false,
              "name" : "Always Output Response",
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "displayName" : "Maximum ETag Cache Size",
              "identifiesControllerService" : false,
              "name" : "etag-max-cache-size",
              "sensitive" : false
            },
            "idle-timeout" : {
              "displayName" : "Idle Timeout",
              "identifiesControllerService" : false,
              "name" : "idle-timeout",
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "displayName" : "Put Response Body In Attribute",
              "identifiesControllerService" : false,
              "name" : "Put Response Body In Attribute",
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "displayName" : "Use Chunked Encoding",
              "identifiesControllerService" : false,
              "name" : "Use Chunked Encoding",
              "sensitive" : false
            },
            "Follow Redirects" : {
              "displayName" : "Follow Redirects",
              "identifiesControllerService" : false,
              "name" : "Follow Redirects",
              "sensitive" : false
            },
            "Remote URL" : {
              "displayName" : "Remote URL",
              "identifiesControllerService" : false,
              "name" : "Remote URL",
              "sensitive" : false
            },
            "Content-Type" : {
              "displayName" : "Content-Type",
              "identifiesControllerService" : false,
              "name" : "Content-Type",
              "sensitive" : false
            },
            "form-body-form-name" : {
              "displayName" : "Flowfile Form Data Name",
              "identifiesControllerService" : false,
              "name" : "form-body-form-name",
              "sensitive" : false
            },
            "max-idle-connections" : {
              "displayName" : "Max Idle Connections",
              "identifiesControllerService" : false,
              "name" : "max-idle-connections",
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-user",
              "sensitive" : false
            },
            "Read Timeout" : {
              "displayName" : "Read Timeout",
              "identifiesControllerService" : false,
              "name" : "Read Timeout",
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "displayName" : "Max Length To Put In Attribute",
              "identifiesControllerService" : false,
              "name" : "Max Length To Put In Attribute",
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-password",
              "sensitive" : true
            },
            "ignore-response-content" : {
              "displayName" : "Ignore response's content",
              "identifiesControllerService" : false,
              "name" : "ignore-response-content",
              "sensitive" : false
            },
            "Proxy Port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Port",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Digest Authentication" : {
              "displayName" : "Use Digest Authentication",
              "identifiesControllerService" : false,
              "name" : "Digest Authentication",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "displayName" : "Add Response Headers to Request",
              "identifiesControllerService" : false,
              "name" : "Add Response Headers to Request",
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "displayName" : "Basic Authentication Username",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Username",
              "sensitive" : false
            },
            "Include Date Header" : {
              "displayName" : "Include Date Header",
              "identifiesControllerService" : false,
              "name" : "Include Date Header",
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "displayName" : "Penalize on \"No Retry\"",
              "identifiesControllerService" : false,
              "name" : "Penalize on \"No Retry\"",
              "sensitive" : false
            },
            "Useragent" : {
              "displayName" : "Useragent",
              "identifiesControllerService" : false,
              "name" : "Useragent",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { }
    }
  }
}